.header {
  height: 64px;
  align-items: center;
  display: flex;

  .logo {
    width: 200px;
  }

  .nav {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
  }

  .right-panel {
    padding-left: 24px;
  }
}
